modules = ["dotnet"]

[nix]
channel = "stable-24_05"
packages = ["dotnet-sdk", "dotnet-sdk_8"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "APITester-ListEnv"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "APITester-EnvTest"

[[workflows.workflow]]
name = "APITester-ListEnv"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "dotnet run list-env"

[[workflows.workflow]]
name = "APITester-EnvTest"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "dotnet run run Examples/get-user-with-env.json --verbose"

[deployment]
run = ["sh", "-c", "dotnet run run Examples/get-user.json --verbose"]
