modules = ["dotnet", "dotnet-8.0"]

[nix]
channel = "stable-24_05"
packages = ["dotnet-sdk", "dotnet-sdk_8"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "APITester-ListEnv"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "APITester-EnvTest"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "APITester-Init"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "APITester-RunSample"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "TestTextPayload"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "TestFileUpload"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "TestPostRequest"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "TestFixedBaseUrl"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "TestJsonPlaceholderBaseUrl"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "TestJsonPlaceholderPost"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "TestInitWithCorrectBaseUrl"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "TestFreshJsonPlaceholder"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "TestFreshJsonPlaceholderPost"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "TestBuiltListEnv"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "TestDebugList"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "TestBuild"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "TestBuildNet8"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "TestBuildUpdated"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "TestCustomVariables"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "TestProjectVariables"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "TestVariablePriority"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "TestDotNotationRun"

[[workflows.workflow]]
name = "APITester-ListEnv"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PATH=\"/nix/store/8y83na7h81fw5kr1msmjc7rvx329djp0-dotnet-sdk-8.0.300/bin:$PATH\" dotnet run list-env"

[[workflows.workflow]]
name = "APITester-EnvTest"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PATH=\"/nix/store/8y83na7h81fw5kr1msmjc7rvx329djp0-dotnet-sdk-8.0.300/bin:$PATH\" dotnet run run Examples/get-user-with-env.json --verbose"

[[workflows.workflow]]
name = "APITester-Init"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PATH=\"/nix/store/8y83na7h81fw5kr1msmjc7rvx329djp0-dotnet-sdk-8.0.300/bin:$PATH\" dotnet run init --name \"Test API Project\" --base-url \"https://api.example.com\" --force"

[[workflows.workflow]]
name = "APITester-RunSample"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PATH=\"/nix/store/8y83na7h81fw5kr1msmjc7rvx329djp0-dotnet-sdk-8.0.300/bin:$PATH\" dotnet run run apis/sample-api.json --verbose"

[[workflows.workflow]]
name = "TestTextPayload"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PATH=\"/nix/store/8y83na7h81fw5kr1msmjc7rvx329djp0-dotnet-sdk-8.0.300/bin:$PATH\" dotnet run run Examples/text-payload-test.json --verbose"

[[workflows.workflow]]
name = "TestFileUpload"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PATH=\"/nix/store/8y83na7h81fw5kr1msmjc7rvx329djp0-dotnet-sdk-8.0.300/bin:$PATH\" dotnet run run Examples/file-upload-test.json --verbose"

[[workflows.workflow]]
name = "TestPostRequest"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PATH=\"/nix/store/8y83na7h81fw5kr1msmjc7rvx329djp0-dotnet-sdk-8.0.300/bin:$PATH\" dotnet run run apis/sample-post.json --verbose"

[[workflows.workflow]]
name = "TestFixedBaseUrl"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PATH=\"/nix/store/8y83na7h81fw5kr1msmjc7rvx329djp0-dotnet-sdk-8.0.300/bin:$PATH\" dotnet run run apis/sample-api.json --verbose"

[[workflows.workflow]]
name = "TestJsonPlaceholderBaseUrl"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PATH=\"/nix/store/8y83na7h81fw5kr1msmjc7rvx329djp0-dotnet-sdk-8.0.300/bin:$PATH\" dotnet run run apis/sample-api.json --verbose"

[[workflows.workflow]]
name = "TestJsonPlaceholderPost"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PATH=\"/nix/store/8y83na7h81fw5kr1msmjc7rvx329djp0-dotnet-sdk-8.0.300/bin:$PATH\" dotnet run run apis/sample-post.json --verbose"

[[workflows.workflow]]
name = "TestInitWithCorrectBaseUrl"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PATH=\"/nix/store/8y83na7h81fw5kr1msmjc7rvx329djp0-dotnet-sdk-8.0.300/bin:$PATH\" dotnet run init --name \"Test API Project\" --base-url \"https://jsonplaceholder.typicode.com\" --force"

[[workflows.workflow]]
name = "TestFreshJsonPlaceholder"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd /home/runner/workspace && PATH=\"/nix/store/8y83na7h81fw5kr1msmjc7rvx329djp0-dotnet-sdk-8.0.300/bin:$PATH\" dotnet run run apis/sample-api.json --verbose"

[[workflows.workflow]]
name = "TestFreshJsonPlaceholderPost"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PATH=\"/nix/store/8y83na7h81fw5kr1msmjc7rvx329djp0-dotnet-sdk-8.0.300/bin:$PATH\" dotnet run run apis/sample-post.json --verbose"

[[workflows.workflow]]
name = "TestBuiltListEnv"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PATH=\"/nix/store/8y83na7h81fw5kr1msmjc7rvx329djp0-dotnet-sdk-8.0.300/bin:$PATH\" dotnet build && dotnet run list-env"

[[workflows.workflow]]
name = "TestDebugList"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd /home/runner/workspace && PATH=\"/nix/store/8y83na7h81fw5kr1msmjc7rvx329djp0-dotnet-sdk-8.0.300/bin:$PATH\" dotnet run list-env"

[[workflows.workflow]]
name = "TestBuild"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd /home/runner/workspace && PATH=\"/nix/store/8y83na7h81fw5kr1msmjc7rvx329djp0-dotnet-sdk-8.0.300/bin:$PATH\" dotnet build"

[[workflows.workflow]]
name = "TestBuildNet8"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd /home/runner/workspace && PATH=\"/nix/store/8y83na7h81fw5kr1msmjc7rvx329djp0-dotnet-sdk-8.0.300/bin:$PATH\" dotnet build -f net8.0"

[[workflows.workflow]]
name = "TestBuildUpdated"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd /home/runner/workspace && PATH=\"/nix/store/8y83na7h81fw5kr1msmjc7rvx329djp0-dotnet-sdk-8.0.300/bin:$PATH\" dotnet build"

[[workflows.workflow]]
name = "TestCustomVariables"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PATH=\"/nix/store/8y83na7h81fw5kr1msmjc7rvx329djp0-dotnet-sdk-8.0.300/bin:$PATH\" dotnet run run apis/custom-variables-test.json --verbose"

[[workflows.workflow]]
name = "TestProjectVariables"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PATH=\"/nix/store/8y83na7h81fw5kr1msmjc7rvx329djp0-dotnet-sdk-8.0.300/bin:$PATH\" dotnet run run apis/project-variables-test.json --verbose"

[[workflows.workflow]]
name = "TestVariablePriority"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PATH=\"/nix/store/8y83na7h81fw5kr1msmjc7rvx329djp0-dotnet-sdk-8.0.300/bin:$PATH\" dotnet run run apis/variable-priority-test.json --verbose"

[[workflows.workflow]]
name = "TestDotNotationRun"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PATH=\"/nix/store/8y83na7h81fw5kr1msmjc7rvx329djp0-dotnet-sdk-8.0.300/bin:$PATH\" dotnet run run users.all --verbose"

[deployment]
run = ["sh", "-c", "dotnet run run Examples/get-user.json --verbose"]
